.thumbnail-images img {
	max-width: 100px;
	max-height: 100px;
}

.main-image img {
	max-height: 100%;
	max-width: 100%;
	filter: drop-shadow(10px 2px 8px var(--dark-text));
	padding-bottom: 10px;
}

.product-images {
	padding-bottom: 50px;
}

.product-text h2 {
	padding-bottom: 20px;
}

.product-stars {
	max-height: 50px;
}

.product {
	margin-bottom: 50px;
}
